@model IEnumerable<DinamicDataMvc.Models.Metadata.MetadataModel>
@{
    ViewData["Title"] = "GetLastProcessVersions";
    var version = ViewBag.Version;

    if (version == null)
    {
        version = "1";
    }

    var name = ViewBag.Name;
    var pageNumber = ViewBag.NumberOfPages;

    string [] branchesByProcess = ViewBag.BranchesByProcess.Split("|");
    string[] statesByProcess = ViewBag.StatesByProcess.Split("|");

}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body style="background-color:ghostwhite">
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Process Data</h2>
    </div>
    <hr />
    <div class="container" id="searchDiv">
        <form asp-controller="Data" asp-action="GetLastProcessVersions" method="get" id="searchForm" onsubmit=" return ValidateSearch(); ">
            <div class="align-content-center">
                <label><b>Name</b></label>
                @Html.TextBox("Name", name as string, new { @size = "50" })
                <label><b>Version</b></label>
                @*@Html.TextBox("Version", version as string, new { @size = "5" })*@
                <input type="number" min="1" max="500" name="version" size="4" />
                @Html.TextBox("PageNumber", pageNumber as string, new { @type = "hidden" })
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="table-responsive table-striped">
            <table class="table table-bordered" border="1" id="processResultTable">
                <thead>
                    <tr id="tableHeader">
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Version)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Branch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            Preview Form
                        </th>
                        <th>
                            Create Record
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                    <tr id="tableBody">
                        <td>
                            @Html.ActionLink(@Html.DisplayTextFor(modelItem => Model.ElementAt(i).Name), "GetProcessFieldDataByVersions", "Data", new { Name = Model.ElementAt(i).Name, Version = Model.ElementAt(i).Version, Branch = Model.ElementAt(i).Branch }, new { @class = "processDetails" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Version)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Date)
                        </td>
                        <td>
                            @branchesByProcess[i]
                        </td>
                        <td>
                            @statesByProcess[i]
                        </td>
                        <td>
                            @using (Html.BeginForm("WebFormGenerator", "Metadata", new { processId = Model.ElementAt(i).Id }, FormMethod.Post))
                            {
                                <button type="submit"><i class="fa fa-file-code-o"></i></button>
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("", "", new { processId = Model.ElementAt(i).Id }, FormMethod.Post))
                            {
                                <button type="submit"><i class="fa fa-save"></i></button>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= Convert.ToInt32(pageNumber); i++)
            {
                <li class="page-item"><a class="page-link" style="color:#212529;" href="/Data/GetLastProcessVersions?Name=@name&Version=@version&Page=@i"><b>@i</b></a></li>
            }
        </ul>
    </div>
    <br />
    <div class="container">
        <button type="button" onclick="GoBack();"><i class="fa fa-toggle-left"> Go Back </i></button>
    </div>
</body>