@model IEnumerable<DinamicDataMvc.Models.Data.ViewDataModel>
@{
    ViewData["Title"] = "GetProcessFieldDataByVersions";
    string ProcessName = ViewBag.ProcessName;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body style="background-color:ghostwhite">
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Process @ProcessName</h2>
    </div>
    <hr />
    <div class="container">
        <br />
        <div class="table-responsive table-striped">
            <table class="table table-bordered" border="1" id="processResultTable">
                <thead>
                    <tr id="tableHeader">
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.ElementAt(0).ProcessId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.ElementAt(0).ProcessVersion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.ElementAt(0).ProcessBranch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.ElementAt(0).CreationDate)
                        </th>
                        <th>
                            @Html.DisplayName("Edit Webform")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in Model)
                    {
                        <tr id="tableBody">
                            <td>
                                @Html.DisplayFor(modelItem => model.ProcessId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => model.ProcessVersion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => model.ProcessBranch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => model.CreationDate)
                            </td>
                            <td>
                                @using (Html.BeginForm("UpdateFieldData", "Data", new { Id = model.ProcessId, Version = model.ProcessVersion, Branch = model.ProcessBranch, Data = model.Data }, FormMethod.Get))
                                {
                                    <button type="submit"><i class="fa fa-pencil"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
    </div>
    <br />
    <div class="container">
        <button type="button" onclick="GoBack();"><i class="fa fa-toggle-left"> Go Back </i></button>
    </div>
</body>

