@model DinamicDataMvc.Models.Data.DataModel
@{
    ViewData["Title"] = "UpdateFieldData";

    string ProcessId = ViewBag.ProcessId;

    string ProcessName = ViewBag.ProcessName;

    string ProcessVersion = ViewBag.ProcessVersion;

    string ProcessBranch = ViewBag.ProcessBranch;

    string[] Fields = ViewBag.Fields.Split(" ");
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body>
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Process @ProcessName  Version @ProcessVersion</h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5" style="margin-left:15px;">
            @using (Html.BeginForm("ConfirmUpdateData", "Data", FormMethod.Post, new { @width = "60%" }))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" value="@Model.Id" name="Id" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ProcessId" value="@Model.ProcessId" name="ProcessId" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="ProcessBranch" value="@Model.ProcessBranch" name="ProcessBranch" class="form-control" />
                </div>
                <div class="form-group">
                    @for (int i = 0; i < Model.Data.Count; i++)
                    {
                        <label class="control-label" asp-for="Data"><strong>@Fields[i]</strong></label>
                        <input type="text" name="Data" asp-for="Data" value="@Model.Data.ElementAt(i)" class="form-control" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    }
                </div>
                <div class="btn-group">
                    <button type="submit"><i class="fa fa-check"> Save </i></button>
                </div>
                <br />
            }
        </div>
    </div>
    <br />
    <div class="container">
        @using (Html.BeginForm("GetLastProcessVersions", "Data", FormMethod.Get))
        {
            <button type="submit"><i class="fa fa-close"></i> Close </button>
        }
    </div>
</body>
