@model  DinamicDataMvc.Models.ViewMetadataModel
@{ 
    bool[] branchesState = new bool[3] { false, false, false};

    string[] branchList = Model.Branch.Split(" ");

    foreach(var description in branchList)
    {
        if (description.Equals("Development")) {
            branchesState[0] = true;
        }
        else if (description.Equals("Quality"))
        {
            branchesState[1] = true;
        }
        else if (description.Equals("Production"))
        {
            branchesState[2] = true;
        }
    }
}

<section id="ByVersionHeaderInfo">
    <div>
        <span>
            <strong><b>@Html.Label("Version: ")</b></strong>
            @Html.DisplayTextFor(s => s.Version)
            <strong><b>@Html.Label("Creation Date: ")</b></strong>
            @Html.DisplayTextFor(s => s.Date)
            <strong><b>@Html.Label("Branches: ")</b></strong>
            <b><i>@Html.Label("Development ")</i></b>
            @Html.CheckBox("Development", @branchesState[0])
            <b><i>@Html.Label("Quality ")</i></b>
            @Html.CheckBox("Quality", @branchesState[1])
            <b><i>@Html.Label("Production ")</i></b>
            @Html.CheckBox("Production", @branchesState[2])
        </span>
        <input type="submit" value="Publish"/>
    </div>
</section>
    
