@model IEnumerable<DinamicDataMvc.Models.Metadata.ViewMetadataModel>
@{
    ViewData["Title"] = "Details By Process Name";
    var pageNumber = ViewBag.NumberOfPages;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body>
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Process @Html.ViewBag.Name Versions</h2>
    </div>
    <hr />
    <div class="container" id="linkDiv">
        <a id="updateLink" href="/Metadata/Update?ProcessName=@Html.ViewBag.Name"><i class="fa fa-database"></i> Update Process </a>
    </div>
    <hr />
    <div class="container">
        <div class="table-responsive table-striped">
            <table class="table table-bordered" border="1" id="processResultTable">
                <thead>
                    <tr id="tableHeader">
                        <th>
                            @Html.DisplayNameFor(model => model.Version)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Branch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="tableBody">
                            <td>
                                @Html.ActionLink(@Html.DisplayTextFor(modelItem => item.Version), "GetDetailsByVersion", "Metadata", new { ID = item.Id }, new { @class = "processDetails" })
                            </td>
                            <td>
                                @Html.DisplayTextFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayTextFor(modelItem => item.Branch)
                            </td>
                            <td>
                                @Html.DisplayTextFor(modelItem => item.State)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= Convert.ToInt32(pageNumber); i++)
            {
                <li class="page-item"><a class="page-link" style="color:#212529;" href="/Metadata/GetDetailsByName?Name=@Html.ViewBag.Name&Page=@i"><b>@i</b></a></li>
            }
        </ul>
    </div>
    <hr />
    <div class="container">
        @using (Html.BeginForm("Read", "Metadata", FormMethod.Get))
        {
            <button><i class="fa fa-list"></i> Back to List </button>
        }
    </div>
</body>