@model DinamicDataMvc.Models.Metadata.ViewProcessModel
@{
    ViewData["Title"] = "ByVersion";

    bool[] branchesState = new bool[3] { false, false, false };

    string[] branchList = Model.Branch.Split(" ");

    foreach (var description in branchList)
    {
        if (description.Equals("Development"))
        {
            branchesState[0] = true;
        }
        else if (description.Equals("Quality"))
        {
            branchesState[1] = true;
        }
        else if (description.Equals("Production"))
        {
            branchesState[2] = true;
        }
    }
    var names = string.Empty;

    foreach (var name in Model.Names)
    {
        names += name + " ";
    }

    var types = string.Empty;

    foreach (var type in Model.Types)
    {
        types += type + " ";
    }

    var properties = string.Empty;

    foreach (var propertie in Model.Properties)
    {
        properties += propertie + " ";
    }
}
<section id="ProcessName">
    <div class="text-body">
        <h4>Process @Html.DisplayTextFor(s => s.Name)</h4>
    </div>
</section>
<br />
<section id="ProcessHeaderInfo">
    <div>
        <span>
            <strong><b>@Html.Label("Version: ")</b></strong>
            @Html.DisplayTextFor(s => s.Version)
            <strong><b>@Html.Label("Creation Date: ")</b></strong>
            @Html.DisplayTextFor(s => s.CreationDate)
            <strong><b>@Html.Label("Branches: ")</b></strong>
            <b><i>@Html.Label("Development ")</i></b>
            @Html.CheckBox("Development", @branchesState[0])
            <b><i>@Html.Label("Quality ")</i></b>
            @Html.CheckBox("Quality", @branchesState[1])
            <b><i>@Html.Label("Production ")</i></b>
            @Html.CheckBox("Production", @branchesState[2])
        </span>
    </div>
</section>
<br />
<section id="ProcessDataInfo">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(s => s.Types)
                    </th>
                    <th>
                        @Html.DisplayNameFor(s => s.Names)
                    </th>
                    <th>
                        @Html.DisplayNameFor(s => s.Properties)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayTextFor(s => s.Types)
                    </td>
                    <td>
                        @Html.DisplayTextFor(s => s.Names)
                    </td>
                    <td>
                        @Html.DisplayTextFor(s => s.Properties)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("Back to list", "Read", "Metadata")
    </div>
</section>

