@model DinamicDataMvc.Models.Process.ViewProcessModel
@{
    ViewData["Title"] = "ByVersion";
    var pageNumber = ViewBag.NumberOfPages;
    var processId = ViewBag.Id;

    bool[] branchesState = new bool[3] { false, false, false };

    string[] branchList = ViewBag.Branches.Split(" ");

    foreach (var description in branchList)
    {
        if (description.Equals("Development"))
        {
            branchesState[0] = true;
        }
        else if (description.Equals("Quality"))
        {
            branchesState[1] = true;
        }
        else if (description.Equals("Production"))
        {
            branchesState[2] = true;
        }
    }
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css" />
</head>
<body>
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Process @Model.Metadata.Name Version @Model.Metadata.Version.ToString()</h2>
    </div>
    <hr />
    <div class="container" id="processDetails">
        <span>
            <label>Creation Date: <strong> @Model.Metadata.Date.ToString().Substring(0, 10) </strong></label>
            <label>Branches: </label>
            <strong>@Html.Label("Development ")</strong>
            @Html.CheckBox("Development", @branchesState[0], new { @disabled = "disabled" })
            <strong>@Html.Label("Quality ")</strong>
            @Html.CheckBox("Quality", @branchesState[1], new { @disabled = "disabled" })
            <strong>@Html.Label("Production ")</strong>
            @Html.CheckBox("Production", @branchesState[2], new { @disabled = "disabled" })
            <label>State: <strong> @ViewBag.State </strong></label>
        </span>
    </div>
    <hr />
    <div class="container" id="fieldDiv">
        <h2 id="FieldDescription"> Fields </h2>
    </div>
    <hr />
    <div class="container">
        <div class="table-responsive table-striped">
            <table class="table table-bordered" border="1" style="border-style:dotted">
                <thead>
                    <tr id="tableHeader">
                        <th>
                            @Html.DisplayNameFor(model => model.Fields.ElementAt(0).Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fields.ElementAt(0).Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fields.ElementAt(0).Date)
                        </th>
                        <th>
                            @Html.DisplayName("Properties")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Fields.Count; i++)
                    {
                        <tr id="tableBody">
                            <td>
                                <b>@Html.DisplayFor(modelItem => Model.Fields.ElementAt(i).Type)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Fields.ElementAt(i).Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Fields.ElementAt(i).Date)
                            </td>
                            <td align="center">
                                @using (Html.BeginForm("Details", "Properties", new { PropertiesId = Model.Fields.ElementAt(i).Properties, ProcessName = Model.Metadata.Name, ProcessVersion = Model.Metadata.Version.ToString(), FieldType = Model.Fields.ElementAt(i).Type, FieldName = Model.Fields.ElementAt(i).Name }, FormMethod.Post))
                                {
                                    <button type="submit" id="@i"><i class="fa fa-cog"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= Convert.ToInt32(pageNumber); i++)
            {
                <li class="page-item"><a class="page-link" style="color:#212529;" href="/Metadata/GetDetailsByVersion?ID=@processId&Page=@i"><b>@i</b></a></li>
            }
        </ul>
    </div>
    <hr />
    <div class="container">
        <div class="btn-group">
            <button type="button" onclick="GoBack();"><i class="fa fa-toggle-left"></i> Go Back </button>
            @using (Html.BeginForm("Read", "Metadata", FormMethod.Get, new { style = "padding-left:10px" }))
            {
                <button type="submit"><i class="fa fa-list"></i> Back to List </button>
            }
        </div>
    </div>
</body>
