@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc
@model PagedList.Core.PagedList<DinamicDataMvc.Models.ViewMetadataModel>
@{
    ViewData["Title"] = "TestMetadataList";
}
<section>
    <div class="text-body">
        <h4>Filters</h4>
    </div>
    @using (Html.BeginForm("GetMetadata", "Metadata", FormMethod.Get))
    {
        @await Html.PartialAsync("_Filter")
    }
</section>
<br />
<section>
    <div class="text-body">
        <h4>Metadata List</h4>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th valign="middle" align="center">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th valign="middle" align="center">
                        @Html.DisplayNameFor(model => model[0].Version)
                    </th>
                    <th valign="middle" align="center">
                        @Html.DisplayNameFor(model => model[0].Date)
                    </th>
                    <th valign="middle" align="center">
                        @Html.DisplayNameFor(model => model[0].Branch)
                    </th>
                    <th valign="middle" align="center">
                        @Html.DisplayNameFor(model => model[0].State)
                    </th>
                </tr>
            </thead>
            <tbody id="ProcessList">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@Html.DisplayTextFor(modelItem => item.Name), "ByName", "ProcessDetails", new { ID = item.Name })
                        </td>
                        <td>
                            @Html.ActionLink(@Html.DisplayTextFor(modelItem => item.Version), "ByVersion", "ProcessDetails", new { ID = item.Version, Name = item.Name })
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.Branch)
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { ID = item.Id})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<br />
<section>
    <div class="pagination">
        <pager list="@Model" asp-action="GetMetadata" asp-controller="Metadata"/>
    </div>
</section>

