@model IEnumerable<DinamicDataMvc.Models.ViewMetadataModel>
@{
    var version = ViewBag.Version;

    if (version == null)
    {
        version = "1";
    }

    var name = ViewBag.Name;
    var pageNumber = ViewBag.NumberOfPages;
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/PageStyleFile.css"/>
</head>
<body>
    <hr />
    <div class="container" id="subtitleDiv">
        <h2 id="ProcessDescription">Process Metadata</h2>
    </div>
    <hr />
    <div class="container" id="linkDiv">
        <a id="CreateLink" href="/Metadata/Create/"><i class="fa fa-database"></i> Create New Process </a>
    </div>
    <hr />
    <div class="container" id="searchDiv">
        <form asp-controller="Metadata" asp-action="Read" method="get" id="searchForm" onsubmit=" return ValidateSearch(); ">
            <div class="align-content-center">
                <label><b>Name</b></label>
                @Html.TextBox("Name", name as string, new { @size = "50" })
                <label><b>Version</b></label>
                @*@Html.TextBox("Version", version as string, new { @size = "5" })*@
                <input type="number" min="1" max="500" name="version" size="4" />
                @Html.TextBox("PageNumber", pageNumber as string, new { @type = "hidden" })
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="table-responsive table-striped">
            <table class="table table-bordered" border="1" id="processResultTable">
                <thead>
                    <tr id="tableHeader">
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Version)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Branch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).State)
                        </th>
                        <th>
                            @Html.DisplayName("Delete Process")
                        </th>
                        <th>
                            @Html.DisplayName("Generate WebForm")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr id="tableBody">
                            <td>
                                @Html.ActionLink(@Html.DisplayTextFor(model => data.Name), "GetDetailsByName", "Metadata", new { Name = data.Name }, new { @class = "processDetails"})
                            </td>
                            <td>
                                @Html.ActionLink(@Html.DisplayTextFor(model => data.Version), "GetDetailsByVersion", "Metadata", new { ID = data.Id }, new { @class = "processDetails"})
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Date)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Branch)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.State)
                            </td>
                            <td id="deleteIcon">
                                @if (data.State.Length > 0)
                                {
                                    @using (Html.BeginForm("Delete", "Metadata", new { ID = data.Id }, FormMethod.Post))
                                    {
                                        <button type="submit"><i class="fa fa-trash"></i></button>
                                    }
                                }
                            </td>
                            <td>
                                @if (data.State.Length > 0)
                                {
                                    @using (Html.BeginForm("WebFormGenerator", "Metadata", new { processId = data.Id }, FormMethod.Post))
                                    {
                                        <button type="submit"><i class="fa fa-file-code-o"></i></button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <ul class="pagination pagination-sm">
            @for (int i = 1; i <= Convert.ToInt32(pageNumber); i++)
            {
                <li class="page-item"><a class="page-link" style="color:#212529;" href="/Metadata/Read?Name=@name&Version=@version&Page=@i"><b>@i</b></a></li>
            }
        </ul>
    </div>
</body>


