<!DOCTYPE html>
@model IEnumerable<DinamicDataMvc.Models.ViewMetadataModel>
    @{
    var version = ViewBag.Version;

    if (version == null)
    {
    version = "1";
    }

    var name = ViewBag.Name;
    var pageNumber = ViewBag.NumberOfPages;

    //var pageNumber = ViewBag.PageNumber;
    //var TotalPages = ViewBag.TotalPages;


    //var pagePrevious = Convert.ToUInt32(pageNumber) - 1 < 1 ? 1 : Convert.ToUInt32(pageNumber) - 1;
    //var pageNext = Convert.ToUInt32(pageNumber) + 1 < Convert.ToUInt32(TotalPages) ? Convert.ToUInt32(pageNumber) + 1 : Convert.ToUInt32(TotalPages);
    }

    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="~/js/site.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Metadata Process List</h1>
        </div>
        <br /><br />
        <div class="container">
            <form asp-controller="Metadata" asp-action="Read" method="get" id="searchForm" onsubmit=" return ValidateSearch(); ">
                <div class="align-content-center">
                    <label>Name</label>
                    @Html.TextBox("Name", name as string)
                    <label>Version</label>
                    @Html.TextBox("Version", version as string)
                    @Html.TextBox("PageNumber", pageNumber as string, new { type = "hidden" })
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <br /><br />
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered" border="1" style="border-style:dotted">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => Model.ElementAt(0).Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.ElementAt(0).Version)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.ElementAt(0).Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.ElementAt(0).Branch)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.ElementAt(0).State)
                            </th>
                            <th>
                                @Html.DisplayName("Delete Process")
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var data in Model)
                        {
                        <tr>
                            <td>
                                @Html.ActionLink(@Html.DisplayTextFor(model => data.Name), "GetDetailsByName", "Metadata", new { ID = data.Name })
                            </td>
                            <td>
                                @Html.ActionLink(@Html.DisplayTextFor(model => data.Version), "GetDetailsByVersion", "Metadata", new { Name = data.Name, Version = data.Version })
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Date)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Branch)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.State)
                            </td>
                            <td align="center">
                                @using (Html.BeginForm("Delete", "Metadata", new { ID = data.Id }, FormMethod.Post))
                                {
                                <button type="submit"><i class="fa fa-trash"></i></button>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= Convert.ToInt32(pageNumber); i++)
                {
                <li class="page-item"><a class="page-link" href="/Metadata/Read?Name=@name&Version=@version&Page=@i">@i</a></li>
                }
            </ul>
        </div>
    </body>
</html>

