@model DinamicDataMvc.Models.ViewMetadataModel
@{
    ViewData["Title"] = "Update";
    var CurrentDate = DateTime.Now.Date.ToString().Substring(0, 10);
    string[] fields = ViewBag.Fields.Split(";");

    List<string> processFields = new List<string>();
    foreach(string field in fields)
    {
        processFields.Add(field);
    }
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body style="background-color:ghostwhite">
    <hr />
    <div class="container" style="text-align:right; background-color:#FF8C00; color:white;">
        <h1>Update Process</h1>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("UpdateProcess", "Metadata", FormMethod.Post))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"><b>Process Name</b></label>
                    <input asp-for="Name" class="form-control" type="text" readonly value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Version" class="control-label"><b>Process Version</b></label>
                    <input asp-for="Version" class="form-control" type="text" readonly value="@Model.Version" />
                    <span asp-validation-for="Version" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Branch" class="control-label"><b>Branch</b></label>
                    <div class="row">
                        <div class="columns" style="padding-left:25px;">
                            <label><b><i>Development</i></b></label>
                            <input type="checkbox" class="form-control" name="branch" value="Dev" checked required />
                        </div>
                        <div class="columns" style="padding-left:25px;">
                            <label><b><i>Quality</i></b></label>
                            <input type="checkbox" class="form-control" name="branch" value="Qa" />
                        </div>
                        <div class="columns" style="padding-left:25px;">
                            <label><b><i>Production</i></b></label>
                            <input type="checkbox" class="form-control" name="branch" value="Prod" />
                        </div>
                    </div>
                    <span asp-validation-for="Branch" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"><b>Creation Date</b></label>
                    <input asp-for="Date" class="form-control" type="text" value="@Model.Date" readonly size="10" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"><b>Current State</b></label>
                    <input asp-for="State" class="form-control" type="text" readonly="readonly" value="@Model.State" size="10" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @foreach (var field in @processFields)
                    {
                        <input type="hidden" class="form-control" name="Field" value="@field" />
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Fields" class="btn btn-secondary btn-lg btn-block" />
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="container" style="text-align:right; background-color:#FF8C00; color:white;">
        @using (Html.BeginForm("Read", "Metadata", FormMethod.Get))
        {
            <span>
                <label>Back to List</label>
                <button type="submit"><i class="fa fa-list"></i></button>
            </span>
        }
    </div>
</body>

