@model IEnumerable<DinamicDataMvc.Models.Field.FieldModel>

@{
    ViewData["Title"] = "Read";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ListPageStyle.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Field List</h2>
    </div>
    <hr />
    <div class="container">
        <div>
            @using (Html.BeginForm("Display", "Field", FormMethod.Get))
            {
                <span><label class="form-group"> Create New Field</label></span>
                <button type="submit"><i class="fa fa-file-text"></i></button>
            }
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>@Html.DisplayName("Update")</th>
                <th>@Html.DisplayName("Delete")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @using (Html.BeginForm("Update", "Field", new { ID = item.Id }, FormMethod.Post))
                        {
                            <button type="submit"><i class="fa fa-list"></i></button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Field", new { ID = item.Id }, FormMethod.Post))
                        {
                            <button type="submit"><i class="fa fa-trash"></i></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
