@model DinamicDataMvc.Models.ViewMetadataModel
@{
    ViewData["Title"] = "ByVersion";
    var fields = ViewBag.Data as IEnumerable<InputModel>;
}
<section id="ProcessName">
    <div class="text-body">
        <h4>Process @Html.ViewBag.Name</h4>
    </div>
</section>
<br />
<section id="ProcessHeaderInfo">
    <div>
        @await Html.PartialAsync("_ByVersionHeader", Model)
    </div>
</section>
<br />
<section id="ProcessDataInfo">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Type")
                    </th>
                    <th>
                        @Html.DisplayName("Field")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var field in fields)
                {
                    <tr>
                        <td>
                            <form asp-controller="Details" asp-action="GetProperties" method="post" asp-for="@fields">
                                <input type="hidden" value="@fields" />
                                <input type="submit" value="@Html.DisplayTextFor(model => field.Type)" />
                            </form>

                            @*@Html.ActionLink(@Html.DisplayTextFor(model => field.Type), "Properties", "Details", new {Model = fields})*@
                        </td>
                        <td>
                            @Html.DisplayTextFor(model => field.Field)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        @Html.Display(fields.ElementAt(0).Field)
                    </td>
                    <td>
                        @Html.Display(fields.ElementAt(0).Type)
                    </td>
                    <td>
                        @Html.Display(fields.ElementAt(0).Name)
                    </td>
                    <td>
                        @Html.Display(fields.ElementAt(0).Value)
                    </td>
                    <td>
                        @Html.Display(fields.ElementAt(0).Size.ToString())
                    </td>
                    <td>
                        @Html.Display(fields.ElementAt(0).MaxLength.ToString())
                    </td>
                    <td>
                        @Html.Display(fields.ElementAt(0).Required.ToString())
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("Back to list", "GetMetadata", "Metadata")
    </div>
</section>



