@model DinamicDataMvc.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}
    <section>
        <div>
            @using (Html.BeginForm("GetAllMetadata", "Metadatas", FormMethod.Get))
            {
                <span>
                    @Html.LabelFor(model => model.Metadatas[0].Name)
                    @Html.TextBoxFor(model => model.Metadatas[0].Name, new { @size="10px"})
                    @Html.LabelFor(model => model.Metadatas[0].Version)
                    @Html.TextBoxFor(model => model.Metadatas[0].Version, new { @size="10px"})
                    @Html.LabelFor(model => model.Metadatas[0].Branches)
                    @Html.ListBoxFor(model => model.Branches, Model.Branches, new { size = 1})
                </span>
                <input type="submit" value="" style="background:url('/images/search_logo.png') no-repeat center; width:60px; height:40px"/>
            }
        </div>
    </section>
<br />
    <section>
        <div class="text-body">
            <h4>Metadata</h4>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Metadatas[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Metadatas[0].Version)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Metadatas[0].Branches)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Metadatas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Version)
                            </td>
                            <td>
                                @foreach (var branch in item.Branches)
                                {
                                    @Html.DisplayName(branch + " ")
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { ID = item.Id }) |
                                @Html.ActionLink("Edit", "Edit", new { ID = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { ID = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

