<!DOCTYPE html>

@model IEnumerable<DinamicDataMvc.Models.ViewMetadataModel>
@{
    var version = ViewBag.Version;

    if (version == null)
    {
        version = "1";
    }

    var name = ViewBag.Name;
    var pageNumber = ViewBag.PageNumber;
    var TotalPages = ViewBag.TotalPages;


    var pagePrevious = Convert.ToUInt32(pageNumber) - 1 < 1 ? 1 : Convert.ToUInt32(pageNumber) - 1;
    var pageNext = Convert.ToUInt32(pageNumber) + 1 < Convert.ToUInt32(TotalPages) ? Convert.ToUInt32(pageNumber) + 1 : Convert.ToUInt32(TotalPages);
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ListPageStyle.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="container">
        <h1>Active Process List</h1>
    </div>
    <br /><br />
    <div class="container">
        <form asp-controller="Fake" asp-action="ProcessList" method="get" id="searchForm" onsubmit=" return ValidateSearch(); ">
            <div class="align-content-center">
                <label>Name</label>
                @Html.TextBox("Name", name as string)
                <label>Version</label>
                @Html.TextBox("Version", version as string)
                @Html.TextBox("PageNumber", pageNumber as string, new { type = "hidden" })
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <br /><br />
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" border="1" style="border-style:dotted">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Version)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).Branch)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.ElementAt(0).State)
                        </th>
                        <th>
                            @Html.DisplayName("Delete Process")
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var data in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayTextFor(model => data.Name)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Version)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Date)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.Branch)
                            </td>
                            <td>
                                @Html.DisplayTextFor(model => data.State)
                            </td>
                            <td align="center">
                                @using (Html.BeginForm("Delete", "Fake", new { ID = data.Id }, FormMethod.Post))
                                {
                                    <button type="submit"><i class="fa fa-trash"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <form asp-controller="Fake" asp-action="ProcessList" method="get" id="previousForm">
                        @Html.TextBox("Name", name as string, new { type = "hidden" })
                        @Html.TextBox("Version", version as string, new { type = "hidden" })
                        @Html.TextBox("PageNumber", pagePrevious as string, new { type = "hidden" })
                        <button type="submit" class="page-link">Previous</button>
                    </form>
                </li>
                <li class="page-item">
                    <form asp-controller="Fake" asp-action="ProcessList" method="get" id="previousForm">
                        @Html.TextBox("Name", name as string, new { type = "hidden" })
                        @Html.TextBox("Version", version as string, new { type = "hidden" })
                        @Html.TextBox("PageNumber", pageNext as string, new { type = "hidden" })
                        <button type="submit" class="page-link">Next</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>