@model  DinamicDataMvc.Models.ProcessDetailsModel
@{ 
    bool[] branchesState = new bool[3] { false, false, false};
    foreach(var description in Model.Branches)
    {
        if (description.Equals("Development")) {
            branchesState[0] = true;
        }
        else if (description.Equals("Quality"))
        {
            branchesState[1] = true;
        }
        else if (description.Equals("Production"))
        {
            branchesState[2] = true;
        }
    }
}

<section>
    <div>
        <span>
            @Html.Label("Version ")
            @Html.DisplayTextFor(s => s.Version)
            @Html.Label("Creation Date ")
            @Html.DisplayTextFor(s => s.CreationDate)
            @Html.Label("Branches ")
            @Html.CheckBox("Development", @branchesState[0])
            @Html.CheckBox("Quality", @branchesState[1])
            @Html.CheckBox("Production", @branchesState[2])
        </span>
        <input type="submit" value="Publish"/>
    </div>
</section>
    
