@model DinamicDataMvc.Models.ViewMetadataModel
@{
    ViewData["Title"] = "ByVersion";
    var ProcessVersionData = ViewBag.Data as IEnumerable<DataProcessModel>;
}
<section id="ProcessName">
    <div class="text-body">
        <h4>Process @Html.ViewBag.Name</h4>
    </div>
</section>
<br />
<section id="ProcessHeaderInfo">
    <div>
        @await Html.PartialAsync("_ByVersionHeader", Model)
    </div>
</section>
<br />
<section id="ProcessDataInfo">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Type")
                    </th>
                    <th>
                        @Html.DisplayName("Field")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ProcessVersionData)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@Html.DisplayTextFor(model => item.Type), "Properties", "ProcessDetails", new {ID = item.Id })
                        </td>
                        <td>
                            @Html.DisplayTextFor(model => item.Field)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("Back to list", "GetMetadata", "Metadata")
    </div>
</section>



